Source: g3proxy
Section: net
Priority: optional
Maintainer: G3proxy Maintainers <g3proxy-maintainers@devel.machine>
Build-Depends: debhelper, pkg-config, libtool, capnproto,
 libssl-dev, libc-ares-dev, liblua5.4-dev | liblua5.3-dev | liblua5.1-dev
Standards-Version: 3.9.8
Homepage: https://github.com/bytedance/g3

Package: g3proxy
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, systemd
Recommends: ca-certificates
Description: Generic proxy for G3 Project
