[workspace]
members = [
    "lib/g3-types",
    "lib/g3-io-ext",
    "lib/g3-daemon",
    "lib/g3-socket",
    "lib/g3-signal",
    "lib/g3-compat",
    "lib/g3-clap",
    "lib/g3-yaml",
    "lib/g3-json",
    "lib/g3-msgpack",
    "lib/g3-runtime",
    "lib/g3-resolver",
    "lib/g3-encoding",
    "lib/g3-datetime",
    "lib/g3-stdlog",
    "lib/g3-syslog",
    "lib/g3-journal",
    "lib/g3-fluentd",
    "lib/g3-statsd",
    "lib/g3-xcrypt",
    "lib/g3-ftp-client",
    "lib/g3-http",
    "lib/g3-h2",
    "lib/g3-icap-client",
    "lib/g3-socks",
    "lib/g3-dpi",
    "lib/g3-tls-cert",
    "g3bench",
    "g3fcgen",
    "g3mkcert",
    "g3proxy",
    "g3proxy/proto",
    "g3proxy/utils/ctl",
    "g3proxy/utils/ftp",
    "g3proxy/utils/lua",
    "g3tiles",
    "g3tiles/proto",
    "g3tiles/utils/ctl",
    "demo/test-int-signal",
    "demo/test-tcp-relay",
    "demo/test-resolver",
    "demo/test-copy-yield",
]
default-members = [
    "g3bench",
    "g3fcgen",
    "g3mkcert",
    "g3proxy",
    "g3proxy/utils/ctl",
    "g3tiles",
    "g3tiles/utils/ctl",
]

[workspace.package]
license = "Apache-2.0"
edition = "2021"

[workspace.dependencies]
#
anyhow = "1.0"
thiserror = "1.0"
bytes = "1.0"
rand = "0.8"
memchr = "2.4"
uuid = "1.3"
base64 = "0.21"
once_cell = "1.7"
regex = "1.8"
arc-swap = "1.2"
chrono = { version = "0.4.22", default-features = false }
governor = { version = "0.5", default-features = false }
ascii = "1.0"
humanize-rs = "0.1"
itoa = "1.0"
atoi = "2.0"
ryu = "1.0"
#
ahash = "0.8"
fxhash = "0.2"
indexmap = "1.6"
ip_network = "0.4"
ip_network_table = "0.2"
radix_trie = "0.2"
#
digest = "0.10.0"
md-5 = "0.10.0"
sha2 = "0.10.0"
hex = "0.4.2"
#
idna = "0.3"
url = "2.1"
mime = "0.3"
percent-encoding = "2.1"
http = "0.2.9"
h2 = "0.3.18"
#
log = "0.4"
slog = "2"
cadence = { package = "cadence-with-flush", version = "0.29" }
#
clap = "4.2"
clap_complete = "4.0"
#
tokio = "1.28"
tokio-util = "0.7"
futures-util = "0.3"
async-trait = "0.1"
async-recursion = "1.0"
pin-project = "1.0"
#
tokio-rustls = "0.23.1"
rustls = "0.20.1"
tokio-openssl = "0.6"
openssl = "0.10.52"
openssl-sys = "0.9"
rustls-pemfile = "1.0"
rustls-native-certs = "0.6"
#
flume = { version = "0.10", default-features = false }
#
capnp-rpc = "0.16"
capnp = "0.16"
capnpc = "0.16"
#
libc = "0.2.142"
nix = { version = "0.26", default-features = false }
#
serde = "1.0"
yaml-rust = "0.4"
serde_json = "1.0"
rmp-serde = "1"
rmp = "0.8"
rmpv = "1.0"

[profile.release-lto]
inherits = "release"
strip = true
lto = true

[profile.release-dbg]
inherits = "release"
debug = 1
debug-assertions = false

[patch.crates-io]
