[workspace]
members = [
    "lib/g3-types",
    "lib/g3-io-ext",
    "lib/g3-daemon",
    "lib/g3-ctl",
    "lib/g3-socket",
    "lib/g3-signal",
    "lib/g3-compat",
    "lib/g3-clap",
    "lib/g3-yaml",
    "lib/g3-json",
    "lib/g3-msgpack",
    "lib/g3-runtime",
    "lib/g3-resolver",
    "lib/g3-datetime",
    "lib/g3-stdlog",
    "lib/g3-syslog",
    "lib/g3-journal",
    "lib/g3-fluentd",
    "lib/g3-statsd-client",
    "lib/g3-histogram",
    "lib/g3-xcrypt",
    "lib/g3-ftp-client",
    "lib/g3-http",
    "lib/g3-h2",
    "lib/g3-icap-client",
    "lib/g3-socks",
    "lib/g3-dpi",
    "lib/g3-tls-cert",
    "lib/g3-slog-types",
    "lib/g3-geoip",
    "lib/openssl-async-job",
    "g3bench",
    "g3fcgen",
    "g3mkcert",
    "g3proxy",
    "g3proxy/proto",
    "g3proxy/utils/ctl",
    "g3proxy/utils/ftp",
    "g3proxy/utils/lua",
    "g3proxy/utils/geoip",
    "g3tiles",
    "g3tiles/proto",
    "g3tiles/utils/ctl",
    "g3keymess",
    "g3keymess/proto",
    "g3keymess/utils/ctl",
    "demo/test-int-signal",
    "demo/test-tcp-relay",
    "demo/test-resolver",
    "demo/test-copy-yield",
]
default-members = [
    "g3bench",
    "g3fcgen",
    "g3mkcert",
    "g3proxy",
    "g3proxy/utils/ctl",
    "g3proxy/utils/ftp",
    "g3proxy/utils/lua",
    "g3proxy/utils/geoip",
    "g3tiles",
    "g3tiles/utils/ctl",
    "g3keymess",
    "g3keymess/proto",
    "g3keymess/utils/ctl",
]
resolver = "2"

[workspace.package]
license = "Apache-2.0"
edition = "2021"

[workspace.dependencies]
#
anyhow = "1.0"
thiserror = "1.0"
rand = "0.8"
fastrand = "2.0"
memchr = "2.4"
uuid = "1.3"
base64 = "0.21"
regex = "1.9"
arc-swap = "1.2"
chrono = { version = "0.4.26", default-features = false }
governor = { version = "0.6", default-features = false }
ascii = "1.0"
humanize-rs = "0.1"
#
portable-atomic = "1.5"
itoa = "1.0"
atoi = "2.0"
ryu = "1.0"
num-traits = "0.2"
rust_decimal = { version = "1.32", default-features = false }
#
bytes = "1.0"
once_cell = "1.18"
smallvec = "1.11"
ahash = "0.8"
rustc-hash = "1.1"
fnv = "1"
indexmap = "2.0"
ip_network = "0.4"
ip_network_table = "0.2"
radix_trie = "0.2"
fixedbitset = "0.4.2"
bitflags = "2.4"
lru = { version = "0.12", default-features = false }
#
digest = "0.10.7"
md-5 = "0.10.0"
sha2 = "0.10.0"
sha-1 = "0.10.0"
blake3 = { version = "1.4", default-features = false }
hex = "0.4.2"
#
idna = "0.5"
url = "2.1"
mime = "0.3"
percent-encoding = "2.1"
http = "0.2.9"
h2 = "0.3.21"
h3-quinn = "0.0.4"
h3 = "0.0.3"
#
log = "0.4"
slog = "2"
hdrhistogram = { version = "7.5", default-features = false }
#
clap = "4.4.0"
clap_complete = "4.4.0"
#
tokio = "1.34"
tokio-util = "0.7"
tokio-stream = "0.1"
futures-util = "0.3"
atomic-waker = "1.1"
async-trait = "0.1"
async-recursion = "1.0"
pin-project = "1.1"
#
rustls = "0.21.5"
tokio-rustls = "0.24"
tokio-openssl = { package = "tokio-tongsuo", version = "0.6.4", default-features = false }
openssl = { package = "tongsuo", version = "0.10.55", default-features = false }
openssl-sys = { package = "tongsuo-sys", version = "0.9.93" }
openssl-probe = "0.1"
rustls-pemfile = "1.0"
rustls-native-certs = "0.6"
quinn = { version = "0.10", default-features = false, features = ["native-certs"] }
#
flume = { version = "0.11", default-features = false }
#
c-ares = { version = "8.1", default-features = false }
c-ares-resolver = { version = "8.1", default-features = false }
hickory-resolver = { version = "0.24.0", default-features = false }
hickory-proto = { version = "0.24.0", default-features = false }
hickory-client = { version = "0.24.0", default-features = false }
#
capnp-rpc = "0.18"
capnp = "0.18"
capnpc = "0.18"
#
libc = "0.2.147"
nix = { version = "0.27", default-features = false }
inotify = "0.10"
#
serde = "1.0"
yaml-rust = "0.4"
serde_json = "1.0"
rmp-serde = "1"
rmp = "0.8"
rmpv = "1.0"
#
redis = { version = "0.24", default-features = false, features = ["tcp_nodelay"] }
#
flate2 = "1.0"
zip = { version = "0.6", default-features = false }
#
mlua = "0.9"
pyo3 = "0.20"
#
rustc_version = "0.4"
cfg-if = "1.0"
#
g3-clap = { version = "0.1", path = "lib/g3-clap" }
g3-compat = { version = "0.1", path = "lib/g3-compat" }
g3-daemon = { version = "0.1", path = "lib/g3-daemon" }
g3-ctl = { version = "0.1", path = "lib/g3-ctl" }
g3-datetime = { version = "0.1", path = "lib/g3-datetime" }
g3-dpi = { version = "0.1", path = "lib/g3-dpi" }
g3-fluentd = { version = "0.1", path = "lib/g3-fluentd" }
g3-ftp-client = { version = "0.2", path = "lib/g3-ftp-client" }
g3-h2 = { version = "0.1", path = "lib/g3-h2" }
g3-http = { version = "0.2", path = "lib/g3-http" }
g3-icap-client = { version = "0.1", path = "lib/g3-icap-client" }
g3-io-ext = { version = "0.6", path = "lib/g3-io-ext" }
g3-journal = { version = "0.2", path = "lib/g3-journal" }
g3-json = { version = "0.3", path = "lib/g3-json" }
g3-msgpack = { version = "0.1", path = "lib/g3-msgpack" }
g3-resolver = { version = "0.5", path = "lib/g3-resolver" }
g3-runtime = { version = "0.3", path = "lib/g3-runtime" }
g3-signal = { version = "0.3", path = "lib/g3-signal" }
g3-socket = { version = "0.4", path = "lib/g3-socket" }
g3-socks = { version = "0.1", path = "lib/g3-socks" }
g3-statsd-client = { version = "0.1", path = "lib/g3-statsd-client" }
g3-histogram = { version = "0.1", path = "lib/g3-histogram" }
g3-stdlog = { version = "0.1", path = "lib/g3-stdlog" }
g3-syslog = { version = "0.6", path = "lib/g3-syslog" }
g3-slog-types = { version = "0.1", path = "lib/g3-slog-types" }
g3-geoip = { version = "0.1", path = "lib/g3-geoip" }
g3-tls-cert = { version = "0.4", path = "lib/g3-tls-cert" }
g3-types = { version = "0.3", path = "lib/g3-types" }
g3-xcrypt = { version = "0.1", path = "lib/g3-xcrypt" }
g3-yaml = { version = "0.5.0", path = "lib/g3-yaml" }
openssl-async-job = { version = "0.2", path = "lib/openssl-async-job" }

[profile.release-lto]
inherits = "release"
strip = true
lto = true

[profile.release-dbg]
inherits = "release"
debug = 1
debug-assertions = false

[patch.crates-io]
console = { version = "0.15.7", git = "https://github.com/console-rs/console.git", rev = "51425fc" }
quinn-proto = { version = "0.10.6", git = "https://github.com/zh-jq/quinn.git", branch = "ring-0.17" }
hickory-proto = { version = "0.24.0", git = "https://github.com/hickory-dns/hickory-dns.git", rev = "b0c0566" }
