#!/usr/bin/make -f

PACKAGE_NAME := g3rcgen
BUILD_PROFILE := release-lto

DEB_VERSION ?= $(shell dpkg-parsechangelog -SVersion)
SSL_FEATURE ?= $(shell scripts/package/detect_openssl_feature.sh)

%:
	dh $@

override_dh_auto_clean:
	cargo clean --frozen --offline --release

override_dh_auto_build:
	G3_PACKAGE_VERSION=$(DEB_VERSION) \
	  cargo build --frozen --offline --profile $(BUILD_PROFILE) \
	    --no-default-features --features $(SSL_FEATURE), \
	    --package g3rcgen --package g3rcgen-one

override_dh_auto_install:
	dh_auto_install
	install -m 755 -D target/$(BUILD_PROFILE)/g3rcgen debian/tmp/usr/bin/g3rcgen
	install -m 755 -D target/$(BUILD_PROFILE)/g3rcgen-one debian/tmp/usr/bin/g3rcgen-one
	install -m 644 -D $(PACKAGE_NAME)/service/g3rcgen.service debian/tmp/lib/systemd/system/g3rcgen.service
	install -m 644 -D $(PACKAGE_NAME)/service/g3rcgen.preset debian/tmp/lib/systemd/system-preset/90-g3rcgen.preset

override_dh_installchangelogs:
	dh_installchangelogs $(PACKAGE_NAME)/CHANGELOG

