[Unit]
Description=G3 Reverse Proxy %i
After=syslog.target network-online.target
Wants=network-online.target

[Service]
Type=simple
Environment="RUNTIME_DIRECTORY=/run/g3tiles"
EnvironmentFile=-/etc/g3tiles/%i/env
ExecStartPre=/bin/sh -c "[ -d $RUNTIME_DIRECTORY ] || mkdir $RUNTIME_DIRECTORY"
ExecStartPre=/bin/sh -c "[ ! -e $RUNTIME_DIRECTORY/%i.sock ] || rm $RUNTIME_DIRECTORY/%i.sock"
ExecStart=/usr/bin/g3tiles -c /etc/g3tiles/%i/main.conf --control-dir $RUNTIME_DIRECTORY -s -G %i
ExecReload=/bin/kill -HUP $MAINPID
ExecStop=/usr/bin/g3tiles-ctl --control-dir $RUNTIME_DIRECTORY -G %i -p $MAINPID offline
KillMode=none
Restart=on-failure
SuccessExitStatus=SIGQUIT
RestartPreventExitStatus=255
TimeoutStartSec=10
LimitNOFILE=10485760

[Install]
WantedBy=multi-user.target
