Source: g3keymess
Section: net
Priority: optional
Maintainer: G3keymess Maintainers <g3keymess-maintainers@devel.machine>
Build-Depends: debhelper, pkg-config, libssl-dev
Standards-Version: 3.9.8
Homepage: https://github.com/bytedance/g3

Package: g3keymess
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, systemd
Description: Keyless server for G3 Project
