Source: g3fcgen
Section: net
Priority: optional
Maintainer: G3fcgen Maintainers <g3fcgen-maintainers@devel.machine>
Build-Depends: debhelper, pkg-config, libssl-dev
Standards-Version: 3.9.8
Homepage: https://github.com/bytedance/g3

Package: g3fcgen
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Fake Certificate Generator for G3 Project
