[Unit]
Description=G3 Keyless Server %i
After=syslog.target network-online.target
Wants=network-online.target

[Service]
Type=simple
RuntimeDirectory=g3keymess
RuntimeDirectoryPreserve=yes
EnvironmentFile=-/etc/g3keymess/%i/env
ExecStartPre=-/usr/bin/g3keymess-ctl --control-dir $RUNTIME_DIRECTORY -G %i offline
ExecStart=/usr/bin/g3keymess -c /etc/g3keymess/%i/ --control-dir $RUNTIME_DIRECTORY -s -G %i
ExecReload=/bin/kill -HUP $MAINPID
ExecStop=-/usr/bin/g3keymess-ctl --control-dir $RUNTIME_DIRECTORY -G %i -p $MAINPID offline
KillMode=none
Restart=on-success
SuccessExitStatus=SIGQUIT
TimeoutStartSec=10
LimitNOFILE=10485760

[Install]
WantedBy=multi-user.target
