name: StaticLinking

on:
  push:
    paths-ignore:
      - 'ansible/**'
      - 'doc/**'
      - 'demo/**'
      - 'scripts/**'
      - 'g3proxy/doc/**'
      - 'g3tiles/doc/**'
    branches:
      - 'master'
      - 'rel/**'
      - 'lts/**'
  pull_request:
    branches:
      - 'master'
      - 'rel/**'
      - 'lts/**'

env:
  CARGO_TERM_COLOR: always
  CARGO_TARGET_X86_64_PC_WINDOWS_MSVC_RUSTFLAGS: -C target-feature=+crt-static

jobs:
  musl:
    name: musl
    runs-on: ubuntu-latest
    strategy:
      matrix:
        feature:
          - vendored-openssl
          - vendored-tongsuo
          # - vendored-aws-lc
          # - vendored-boringssl
    steps:
      - name: Checkout sources
        uses: actions/checkout@v4
        with:
          submodules: true
      - name: Install stable toolchain
        uses: dtolnay/rust-toolchain@56f84321dbccf38fb67ce29ab63e4754056677e0 # v1
        with:
          targets: x86_64-unknown-linux-musl
      - name: Install dependencies
        run: |
          sudo apt-get update
          sudo apt-get install capnproto musl-tools
      - name: Cargo build
        run: cargo build --target=x86_64-unknown-linux-musl --no-default-features --features ${{ matrix.feature }},quic,vendored-c-ares,hickory
  msvc:
    name: msvc
    runs-on: windows-latest
    strategy:
      matrix:
        feature:
          - vendored-openssl
          - vendored-tongsuo
          - vendored-aws-lc
          - vendored-boringssl
    steps:
      - name: Install common tools
        run: choco install capnproto
      - name: Install nasm and ninja for BoringSSL
        if: matrix.feature == 'vendored-boringssl'
        run: choco install nasm ninja
      - name: Install nasm for AWS-LC
        if: matrix.feature == 'vendored-aws-lc'
        uses: ilammy/setup-nasm@v1
      - name: Checkout sources
        uses: actions/checkout@v4
        with:
          submodules: true
      - name: Install rust toolchain
        uses: dtolnay/rust-toolchain@56f84321dbccf38fb67ce29ab63e4754056677e0 # v1
        with:
          components: clippy
      - name: Cargo build
        run: cargo build --no-default-features --features ${{ matrix.feature }},quic,vendored-c-ares,hickory
